<p align="center">
  TRAMITES PENDIENTES DE REVISION
</p>



<div> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
       <!--- Note that these columns can be defined in any order.
             The actual rendered columns are set as a property on the row definition" -->
     
       <!-- Position Column -->
       <ng-container matColumnDef="nro">
         <th  mat-header-cell *matHeaderCellDef> Nro </th>
         <td mat-cell *matCellDef="let element"> {{element.nro}} </td>
       </ng-container>
     
       <!-- Name Column -->
       <ng-container matColumnDef="nroTramite">
         <th mat-header-cell *matHeaderCellDef>Nro Tramite </th>
         <td mat-cell *matCellDef="let element"> {{element.nroTramite}} </td>
       </ng-container>
     
       <!-- Weight Column -->
       <ng-container matColumnDef="nroInmueble">
         <th mat-header-cell *matHeaderCellDef>Nro Inmueble</th>
         <td mat-cell *matCellDef="let element"> {{element.nroInmueble}} </td>
       </ng-container>
     
       <!-- Symbol Column -->
       <ng-container matColumnDef="tramite">
         <th mat-header-cell *matHeaderCellDef>Tramites</th>
         <td mat-cell *matCellDef="let element"> {{element.tramite}} </td>
       </ng-container>
 
    <!-- Symbol Column -->
    <ng-container matColumnDef="fechaInicio">
       <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
       <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
     </ng-container>
   
     
    <ng-container matColumnDef="etapaTramite">
       <th mat-header-cell *matHeaderCellDef>Etapa Tramite</th>
       <td mat-cell *matCellDef="let element"> {{element.etapaTramite}} </td>
     </ng-container>
 
   
     <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
       <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="redirectToDetails(element.id)">
            <mat-icon class="mat-18">done</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="redirectToDetails(element.id)">
          <mat-icon class="mat-18">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="redirectToDetails(element.id)">
        <mat-icon class="mat-18">reorder</mat-icon>
    </button>

      </td>
    
    </ng-container>


 
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
 
     <mat-paginator [length]="100"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]">
 </mat-paginator>
 
 
 
   </div>
 